<div class="row">
  <div class="col-sm-6">
    <div class="card card-block">
      <h3 class="card-title">GALLERY</h3>
      <h6 class="card-subtitle text-muted">Support card subtitle</h6>
    </div>

    <div alt="Card image">
      <%= link_to(image_tag('gallery.jpg'), gallery_photos_path) %>
    </div>

    <div class="card-block">
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <button class="btn btn-primary">
        <%= link_to 'Go see something', gallery_photos_path %>
      </button>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card card-block">
      <h3 class="card-title">BLOG</h3>
      <h6 class="card-subtitle text-muted">Support card subtitle</h6>
    </div>

   <div>
     <%= link_to(image_tag('blog.jpg'), blog_articles_path) %>
    </div>

    <div class="card-block">
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <button class="btn btn-primary">
        <%= link_to 'Go read something', blog_articles_path %>
      </button>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card card-block">
      <h3 class="card-title">SHOP</h3>
      <h6 class="card-subtitle text-muted">Support card subtitle</h6>
    </div>

    <%= link_to(image_tag('shop.jpg'), shop_index_path) %>

    <div class="card-block">
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <button class="btn btn-primary">
        <%= link_to 'Go buy something', shop_index_path %>
      </button>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card card-block">
      <h3 class="card-title">ABOUT ME</h3>
      <h6 class="card-subtitle text-muted">Support card subtitle</h6>
    </div>

    <img src="..." alt="Card image">

    <div class="card-block">
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <button class="btn btn-primary">
        <%= link_to 'Go read something', about_index_path %>
      </button>
    </div>
  </div>
</div>


