<div>
  <h1>Gallery full of beautiful ideas</h1>
</div>

<% if admin? %>
  <div>
    <h4><%= link_to 'New photo', new_photo_path %></h4>
  </div>
<% end %>

<div id="photos" class="transitions-enabled">
  <% @photos.each do |photo| %>
    <div class="box">
      <div class="panel panel-warning">
        <br/><%= photo.title %><hr/>
        <%= image_tag(photo.img_url) %>
        <div class="panel-body" >
          <%= link_to 'Source', photo.text, :target => "_blank" %>
        </div>

        <% if admin? %>
          <div class="panel-footer" >
            <%= link_to 'Edit', edit_photo_path(photo) %><br/>
            <%= link_to 'Destroy', [photo], method: :delete,
              data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>