<div class="row">
  <div class="panel panel-default">
    <div class="panel panel-heading centre" >
      <h1><%= @photo.title %></h1><hr/>
      <%= link_to 'Source', @photo.text, :target => "_blank" %><hr/>
      <%= image_tag @photo.img_url %><hr/>
    </div>

    <% if admin? %>
      <div>
        <%= link_to 'Edit', edit_photo_path(@photo) %>
      </div>
    <% end %>

    <%= link_to 'Back', photos_path %>
  </div>
</div>