<% if admin? %>
  <div style="font-family: 'Coming Soon', cursive;">
    <%= link_to 'New article', new_blog_article_path %>
  </div>
<% end %>

<div id="articles" class="transitions-enabled">
  <% @articles.each do |article| %>
    <div class="box">
      <div class="panel panel-warning">
        <%= link_to image_tag(article.image.url(:medium)), blog_article_path(article) %><br/>

        <div class="panel-body" style="font-family: 'Coming Soon', cursive;">
          <%= article.title %><br/>
        </div>

        <% if admin? %>
          <div class="panel-footer" style="font-family: 'Coming Soon', cursive;">
            <%= link_to 'Edit', edit_blog_article_path(article) %><br/>
            <%= link_to 'Destroy', [:blog, article], method: :delete,
              data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
