<div class="row">
  <div class="panel panel-default">
    <div class="panel panel-heading centre" >
      <h1><%= @article.title %></h1><hr/>
      <%= @article.text %><hr/>
      <%= image_tag @article.img_url %><br/>
    </div>

    <% if admin? %>
      <div>
        <%= link_to 'Edit', edit_blog_article_path(@article) %>
      </div>
    <% end %>

    <%= link_to 'Back', blog_articles_path %>
  </div>
</div>
