<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel panel-heading centre" style="font-family: 'Coming Soon', cursive;">
        <strong>Title:</strong>
        <%= @article.title %><hr/>


        <div>
          <strong>Text:</strong>
          <%= @article.text %><hr/>
        </div>

        <div>
        <%= image_tag @article.image.url(:medium) %><br/>
        </div>

        <%= link_to 'Edit', edit_blog_article_path(@article) %>
        <%= link_to 'Back', blog_articles_path %>
      </div>
    </div>
  </div>
</div>
