<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel panel-heading centre box_img" >
        <%= @article.title %><hr/>

        <div>
          <%= @article.text %><hr/>
        </div>

        <div class="box_img">
        <%= image_tag @article.img_url %><br/>
        </div>
      </div>

      <% if admin? %>
        <div>
          <%= link_to 'Edit', edit_blog_article_path(@article) %>
        </div>
      <% end %>

      <%= link_to 'Back', blog_articles_path %>
    </div>
  </div>
</div>
